@charset "UTF-8";
@font-face {
    font-family: 'outfit';
    src: url(https://fonts.google.com/specimen/Outfit);
}
* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}
body {
    font-family: 'outfit',sans-serif;
    background-color: #d7e2f3;
    height:100vh;
}
main{
    height: 100%;
    display: flex;
}
#container{
    width: 40vh;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 25px;
}
#box{
    height: 30vh;
    display: flex;
    border-radius: 
}
