@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
/*font-family: 'Passion One', cursive;
font-family: 'Sriracha', cursive; */
*{
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: 'Passion One', cursive;  
    font-size: 35px;  
}
p{
    font-family: 'Sriracha', cursive;
}
header{
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
}
a{
    color: white;
    font-weight: normal;
    text-decoration: none;
    
}
